@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

:root {
    --green: #00d1b2;
    --red: hsl(348, 100%, 61%);
}

html{
    overflow: auto !important;
    scroll-behavior: smooth;
}

html, body{
    height: auto;
}

.is-grid{
    display: grid !important;
}

*::-webkit-scrollbar {
    width: 7px;
}

*::-webkit-scrollbar-track{
    background: transparent !important;
}

*::-webkit-scrollbar-thumb{
    background-color: rgb(218, 219, 220) !important;
} 